<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CinemaBuff</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/home.css">
    <link rel="stylesheet" href="/stylesheets/content.css">
    <link rel="stylesheet" href="/@splidejs/splide/dist/css/splide.min.css">
    <link rel="shortcut icon" href="#" />
    <script src="/@splidejs/splide/dist/js/splide.min.js"></script>
    <script src="https://kit.fontawesome.com/dbfc7aa0af.js" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <div class="navbar">
            <div class="nav-links brand">
                <a id="logo" href="/"><img alt="CinemaBuff Logo"
                        src="https://res.cloudinary.com/dfuxr1p10/image/upload/v1629755949/CInemaBuff/popcorn_ztg5pt.png"
                        width="50" height="50">
                </a>
            </div>
            <div class="nav-links nav-link-toggle">
                <i class="fas fa-bars fa-3x"></i>
            </div>
            <nav class="nav-items">
                <div class="nav-links">
                    <a href="/">Home</a>
                </div>
                <div class="nav-links">
                    <a href="/movie">Movies</a>
                </div>
                <div class="nav-links">
                    <a href="/tv">TV Shows</a>
                </div>
            </nav>
            <nav class="nav-items nav-end">
                <% if (!currentUser) { %>
                <div class="nav-links">
                    <a href="/login">Login</a>
                </div>
                <div class="nav-links">
                    <a href="/register">Register</a>
                </div>
                <% } else {%>
                <div class="nav-links">
                    <a href="/user/<%= currentUser.id %>/watchlist">Watchlist</a>
                </div>
                <div class="nav-links">
                    <a href="/logout">Logout</a>
                </div>
                <% } %>
                <div class="nav-links search-bar">
                    <form id="search-bar" action="/results">
                        <input type="search" placeholder="Search" name="q">
                        <button><i class="fas fa-search"></i></button>
                    </form>
                </div>
            </nav>
        </div>
    </header>
    <%- include('partials/flash') %>
    <div id="splide" class="splide">
        <div class="splide__track">
            <ul class="splide__list">
                <% for (let media of trending) { %>
                <li class="splide__slide">
                    <div class="content">
                        <h1 class="slider-media-title"><%= media.title || media.name %></h1>
                        <p class="slider-media-summary"><%= media.overview.slice(0, 135) + '...' %></p>
                        <a class="slider-btn" href="/<%= media.media_type %>/<%= media.id %> ">View More</a>
                    </div>
                    <img class="slide-img" src="https://image.tmdb.org/t/p/original<%= media.backdrop_path %>">
                </li>
                <% } %>
            </ul>
        </div>
    </div>
    <section class="media">
        <h2 class="section-title">Popular Movies</h2>
        <div class="popular">
            <% for (let movie of movies) { %>
            <div class="popular-card">
                <a href="/movie/<%= movie.id %>">
                    <img class="media-img" src="https://image.tmdb.org/t/p/w185<%= movie.poster_path %>">
                </a>
                <div class="media-card-body">
                    <h4><a class="linked-title" href="/movie/<%= movie.id %>"><%= movie.title %></a></h4>
                    <p><i class="fas fa-star"></i> <%= movie.vote_average %></p>
                </div>
            </div>
            <% } %>
        </div>
        <h2 class="section-title">Popular TV Shows</h2>
        <div class="popular">
            <% for (let show of shows) { %>
            <div class="popular-card">
                <a href="/tv/<%= show.id %>">
                    <img class="media-img" src="https://image.tmdb.org/t/p/w185<%= show.poster_path %>">
                </a>
                <div class="media-card-body">
                    <h4><a class="linked-title" href="/tv/<%= show.id %>"><%= show.name %></a></h4>
                    <p><i class="fas fa-star"></i> <%= show.vote_average %></p>
                </div>
            </div>
            <% } %>
        </div>
    </section>
    <%- include('./partials/footer') %>
    <script>
        new Splide('.splide', {
            arrows: false,
            type: 'loop',
            autoplay: true,
            cover: true,
            height: '85vh',
        }).mount();
    </script>
    <script src="/javascripts/navbar.js"></script>
</body>

</html>