<% layout('layouts/boilerplate') %>
<%- include('../partials/flash') %>
<% if (!currentUser) {%>
<div class="watchlist-notification">
    <p>Want to add this to your watchlist? <a href="/login">Login</a> or <a href="/register">sign up</a> to take
        advantage!</p>
</div>
<% } %>
<section class="media-intro">
    <div class="media-look">
        <div class="media-img-details">
            <img class="media-poster" src="https://image.tmdb.org/t/p/w342<%= show.poster_path %>">
        </div>
        <div class="media-ratings">
            <h3><span class="star">&#9733;</span><%= show.vote_average %>/10</h3>
        </div>
    </div>
    <div class="media-info">
        <h1 class="media-title"><%= show.name %> (<%= show.first_air_date.slice(0, 4) %>)</h1>
        <p class="media-runtime-rating"><span class="age-rating"><%= rating %></span> |
            <%= runTime %> Minutes</p>
        <p class="media-genres">
            <%= genres%>
        </p>
        <p class="media-summary"><%= show.overview %></p>
        <% if (show.created_by.length > 0) { %>
        <div class="media-leads">
            <% for (let creator of show.created_by) {%>
            <p>Creator: <%= creator.name %> </p>
            <% } %>
        </div>
        <% } %>
        <div class="media-buttons-container">
            <% if (currentUser && currentUser.watchlist.includes(`t${show.id}`)) { %>
            <form action="/user/<%= currentUser.id %>/watchlist?_method=DELETE" method="POST">
                <button name="media" value="t<%= show.id %>" class="media-btn" id="delete-watchlist">Remove
                    from Watchlist</button>
            </form>
            <% } else if (currentUser){ %>
            <form action="/user/<%= currentUser.id %>/watchlist" method="POST">
                <button name="media" value="t<%= show.id %>" class="media-btn">Add to Watchlist</button>
            </form>
            <% } %>
            <a class="link-btn" href="#review">Write a Review</a>
        </div>
    </div>
</section>
<section class="media-cast">
    <h2 class="cast-title">The Cast</h2>
    <div class="media-cast-container">
        <% for (let actor of cast) { %>
        <div class="actor-card">
            <img class="actor-img"
                src="<%= actor.profile_path !== null ? `https://image.tmdb.org/t/p/w185${actor.profile_path}`: 'https://res.cloudinary.com/dfuxr1p10/image/upload/v1633732173/CInemaBuff/placeholder-image-person_hfuu6y.jpg'%>">
            <div class="actor-card-body">
                <h4><%= actor.name %></h4>
                <p><%= actor.character %> </p>
            </div>
        </div>
        <% } %>
    </div>
</section>
<% if (videos.length > 0) { %>
<section class="media-video">
    <div class="media-video-container">
        <h2>Videos</h2>
        <video id="my-player" class="video-js vjs-theme-sea" controls preload="auto" data-setup='{}'>
            <p class="vjs-no-js">
                To view this video please enable JavaScript, and consider upgrading to a
                web browser that
            </p>
        </video>
        <div class="vjs-playlist"></div>
        <span id="vid-data" style="display:none">
            <%= JSON.stringify(videos); %>
        </span>
    </div>
</section>
<% } %>
<section class="media-rec">
    <h2>More Like This</h2>
    <div class="rec-media-container">
        <% for (let title of recommendations) { %>
        <div class="rec-card">
            <a href="/tv/<%= title.id %> ">
                <img class="rec-img" src="<%= `https://image.tmdb.org/t/p/w185${title.poster_path}`%>">
            </a>
            <div class="rec-card-body">
                <a class="linked-title" href="/tv/<%= title.id %> ">
                    <h4><%= title.name %></h4>
                </a>
                <p><span class="star">&#9733;</span><%= title.vote_average.toFixed(1) %>/10</p>
            </div>
        </div>
        <% } %>
    </div>
</section>
<a name="review"></a>
<section class="media-reviews">
    <div class="media-review-container">
        <h2>Reviews</h2>
        <% if (currentUser) {%>
        <div class="media-review-form">
            <h3>Write a Review</h3>
            <form class="post-review" method="POST" action="/tv/<%= show.id %>/reviews">
                <section class="form-group">
                    <fieldset id="rating" class="starability-basic" required>
                        <legend>Rating</legend>
                        <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="0" checked
                            aria-label="No rating." />
                        <input type="radio" id="first-rate1" name="review[rating]" value="1" />
                        <label for="first-rate1">1 star</label>
                        <input type="radio" id="first-rate2" name="review[rating]" value="2" />
                        <label for="first-rate2">2 stars</label>
                        <input type="radio" id="first-rate3" name="review[rating]" value="3" />
                        <label for="first-rate3">3 stars</label>
                        <input type="radio" id="first-rate4" name="review[rating]" value="4" />
                        <label for="first-rate4">4 stars</label>
                        <input type="radio" id="first-rate5" name="review[rating]" value="5" />
                        <label for="first-rate5">5 stars</label>
                        <input type="radio" id="first-rate6" name="review[rating]" value="6" />
                        <label for="first-rate6">6 star</label>
                        <input type="radio" id="first-rate7" name="review[rating]" value="7" />
                        <label for="first-rate7">7 stars</label>
                        <input type="radio" id="first-rate8" name="review[rating]" value="8" />
                        <label for="first-rate8">8 stars</label>
                        <input type="radio" id="first-rate9" name="review[rating]" value="9" />
                        <label for="first-rate9">9 stars</label>
                        <input type="radio" id="first-rate10" name="review[rating]" value="10" />
                        <label for="first-rate10">10 stars</label>
                    </fieldset>
                </section>
                <section class="form-group">
                    <label for="review">Review</label>
                    <br>
                    <textarea name="review[body]" class="review-input" id="review" cols="30" row="4"
                        required></textarea>
                </section>
                <button class="review-btn">Submit</button>
            </form>
        </div>
        <% } else {%>
        <div class="media-review-form" id="locked-form">
            <h2>Login to Write A Review</h2>
            <a class="link-btn" id="review-login" href="/login">Login</a>
        </div>
        <% } %>
        <% for ( let review of reviews) {%>
        <div id="reviews-display" class="media-review">
            <h3 class="author"><%= review.author.username %> </h3>
            <div class="star-result">
                <img class="star"
                    src="https://res.cloudinary.com/dfuxr1p10/image/upload/v1633405939/CInemaBuff/star_xgtd28.png">
                <span class="rating-number"><%= review.rating %>/10</span>
            </div>
            <p class="review-body"><%=review.body%></p>
            <% if (currentUser && review.author.equals(currentUser)) { %>
            <form action="/tv/<%= show.id %>/reviews/<%= review.id %>?_method=DELETE" method="POST">
                <button class="review-btn" id="delete">Delete</button>
            </form>
            <% } %>
        </div>
        <% } %>
    </div>
</section>
<script>
    const videos = JSON.parse(document.getElementById("vid-data").innerText);
    const player = videojs('my-player');
    const myPlaylist = [];
    for (let video of videos) {
        myPlaylist.push({
            name: video.name,
            sources: [{
                src: `https://www.youtube.com/watch?v=${ video.key }`,
                type: 'video/youtube'
            }],
            poster: `https://img.youtube.com/vi/${ video.key }/maxresdefault.jpg`,
            thumbnail: [
                {
                    srcset: `https://img.youtube.com/vi/${ video.key }/maxresdefault.jpg`,
                    type: 'image/jpeg',
                    media: '(min-width: 400px)'
                }
            ]
        });
    }
    player.playlist(myPlaylist)
    player.playlistUi({ horizontal: true });
    videojs(document.querySelector('video')).playlistUi();
</script>