<% layout('layouts/boilerplate') %>
<section class="media-intro">
    <div class="media-look">
        <div class="media-img">
            <img src="https://image.tmdb.org/t/p/w342<%= show.poster_path %>">
        </div>
        <div class="media-ratings">
            <h3><span class="star">&#9733;</span><%= show.vote_average %>/10</h3>
        </div>
    </div>
    <div class="media-info">
        <h1 class="media-title"><%= show.name %> (<%= show.first_air_date.slice(0, 4) %>)</h1>
        <p class="media-runtime-rating"><span class="age-rating"><%= rating %></span> |
            <%= runTime %> Minutes</p>
        <p class="media-genres">
            <%= genres%>
        </p>
        <p class="media-summary"><%= show.overview %></p>
        <% if (show.created_by.length > 0) { %>
        <div class="media-leads">
            <% for (let creator of show.created_by) {%>
            <p>Creator: <%= creator.name %> </p>
            <% } %>
        </div>
        <% } %>
        <div class="media-buttons-container">
            <button class="media-btn" id="watchlist">Add to Watchlist</button>
            <button class="media-btn" id="trailer">Watch Trailers</button>
        </div>
    </div>
</section>
<section class="media-cast">
    <h2 class="cast-title">The Cast</h2>
    <div class="media-cast-container">
        <% for (let actor of cast) { %>
        <div class="actor-card">
            <img class="actor-img"
                src="<%= actor.profile_path !== null ? `https://image.tmdb.org/t/p/w185${actor.profile_path}`: 'http://res.cloudinary.com/dfuxr1p10/image/upload/c_fill,h_278,w_185/v1630626598/CInemaBuff/placeholder-image-person-jpg_qa9zba.jpg'%>">
            <div class="actor-card-body">
                <h4><%= actor.name %></h4>
                <p><%= actor.character %> </p>
            </div>
        </div>
        <% } %>
    </div>
</section>
<% if (videos.length > 0) { %>
<section class="media-video">
    <h2>Videos</h2>
    <div class="media-video-container">
        <video id="my-player" class="video-js vjs-theme-sea" controls preload="auto" data-setup='{}'>
            <p class="vjs-no-js">
                To view this video please enable JavaScript, and consider upgrading to a
                web browser that
            </p>
        </video>
        <div class="vjs-playlist"></div>
        <span id="vid-data" style="display:none">
            <%= JSON.stringify(videos); %>
        </span>
    </div>
</section>
<% } %>
<section class="media-similar">
    <h2>More Like This</h2>
    <div class="similar-media-container">
        <% for (let similar of similars) { %>
        <div class="similar-card">
            <a href="/movies/<%= similar.id %> ">
                <img class="similar-img" src="<%= `https://image.tmdb.org/t/p/w185${similar.poster_path}`%>">
            </a>
            <div class="similar-card-body">
                <a class="linked-title" href="/movies/<%= similar.id %> ">
                    <h4><%= similar.name %></h4>
                </a>
                <p><span class="star">&#9733;</span><%= similar.vote_average.toFixed(1) %>/10</p>
            </div>
        </div>
        <% } %>
    </div>
</section>
<section class="media-rec">
    <h2>Recommendedations</h2>
    <div class="rec-media-container">
        <% for (let title of recommendations) { %>
        <div class="rec-card">
            <a href="/tv/<%= title.id %> ">
                <img class="rec-img" src="<%= `https://image.tmdb.org/t/p/w185${title.poster_path}`%>">
            </a>
            <div class="rec-card-body">
                <a class="linked-title" href="/tv/<%= title.id %> ">
                    <h4><%= title.name %></h4>
                </a>
                <p><span class="star">&#9733;</span><%= title.vote_average.toFixed(1) %>/10</p>
            </div>
        </div>
        <% } %>
    </div>
</section>
<section class="media-reviews">
    <h2>Reviews</h2>
</section>
<script>
    const videos = JSON.parse(document.getElementById("vid-data").innerText);
    const player = videojs('my-player');
    const myPlaylist = [];
    for (let video of videos) {
        myPlaylist.push({
            name: video.name,
            sources: [{
                src: `https://www.youtube.com/watch?v=${ video.key }`,
                type: 'video/youtube'
            }],
            poster: `https://img.youtube.com/vi/${ video.key }/maxresdefault.jpg`,
            thumbnail: [
                {
                    srcset: `https://img.youtube.com/vi/${ video.key }/maxresdefault.jpg`,
                    type: 'image/jpeg',
                    media: '(min-width: 400px)'
                }
            ]
        });
    }
    player.playlist(myPlaylist)
    player.playlistUi({ horizontal: true });
    videojs(document.querySelector('video')).playlistUi();
</script>