<% layout('layouts/boilerplate') %>
<%- include('../partials/flash') %>
<section class="media">
    <h1 class="page-title">Trending TV Shows</h1>
    <div class="media-cards-container">
        <% for (let show of shows) { %>
        <div class="media-card">
            <a href="/tv/<%= show.id %>">
                <img class="media-img" id="index-image" src="https://image.tmdb.org/t/p/w342<%= show.poster_path %>">
            </a>
            <div class="media-card-body">
                <h4><a class="linked-title" href="/tv/<%= show.id %>"><%= show.name %></a></h4>
                <p><i class="fas fa-star"></i> <%= show.vote_average %></p>
            </div>
        </div>
        <% } %>
    </div>
</section>