<% layout('layouts/boilerplate') %>
<section class="media-intro">
    <div class="media-look">
        <div class="media-img">
            <img src="https://image.tmdb.org/t/p/w342<%= movie.poster_path %>">
        </div>
        <div class="media-ratings">
            <h3><span>&#9733;</span><%= movie.vote_average %>/10</h3>
        </div>
    </div>
    <div class="media-info">
        <h1 class="media-title"><%= movie.title %> (<%= movie.release_date.slice(0, 4) %>)</h1>
        <p>
            <%= genres.join(', ') %>
        </p>
        <p class="media-summary"><%= movie.overview %></p>
        <div class="media-leads">
            <% for (let director of directors) {%>
            <p>
                Director: <%= director%>
            </p>
            <% } %>
            <p>
                <% if (writers.length > 1) {%>
                Writers:
                <% } else if (writers.length) {%>
                Writer:
                <% } %>
                <%= writers.join(', ')%>
            </p>
        </div>
    </div>
</section>