<% layout('layouts/boilerplate') %>
<section class="media-intro">
    <div class="media-look">
        <div class="media-img">
            <img src="https://image.tmdb.org/t/p/w342<%= movie.poster_path %>">
        </div>
        <div class="media-ratings">
            <h3><span>&#9733;</span><%= movie.vote_average %>/10</h3>
        </div>
    </div>
    <div class="media-info">
        <h1 class="media-title"><%= movie.title %> (<%= movie.release_date.slice(0, 4) %>)</h1>
        <p class="media-runtime-rating"><%= ageRating[0].certification %> | <%= movieRuntime[0] %> Hours
            <%= Math.round(movieRuntime.slice(1, movieRuntime.length) * 60)  %> Minutes</p>

        <p class="media-genres">
            <%= genres.join(', ') %>
        </p>
        <p class="media-summary"><%= movie.overview %></p>
        <div class="media-leads">
            <% for (let director of directors) {%>
            <p>
                Director: <%= director%>
            </p>
            <% } %>
            <p>
                <% if (writers.length > 1) {%>
                Writers:
                <% } else if (writers.length) {%>
                Writer:
                <% } %>
                <%= writers.join(', ')%>
            </p>
        </div>
        <div class="media-buttons-container">
            <button class="media-btn" id="watchlist">Add to Watchlist</button>
            <button class="media-btn" id="trailer">Watch Trailers</button>
        </div>
    </div>
</section>
<section class="media-cast">
    <h2 class="cast-title">The Cast</h2>
    <div class="media-cast-container">
        <% for (let actor of cast) { %>
        <div class="actor-card">
            <img class="actor-img"
                src="<%= actor.profile_path !== null ? `https://image.tmdb.org/t/p/w185${actor.profile_path}`: 'http://res.cloudinary.com/dfuxr1p10/image/upload/c_fill,h_278,w_185/v1630626598/CInemaBuff/placeholder-image-person-jpg_qa9zba.jpg'%>">
            <div class="actor-card-body">
                <h4><%= actor.name %></h4>
                <p><%= actor.character %> </p>
            </div>
        </div>
        <% } %>
    </div>
</section>
<section class="media-video">
    <h2>Videos</h2>
    <div class="splide">
        <div class="splide__track">
            <ul class="splide__list">
                <li class="splide__slide" data-splide-vimeo="https://vimeo.com/215334213">
                    <img
                        src="https://res.cloudinary.com/dfuxr1p10/image/upload/v1628030056/MyRecipe/ujl4qlucycbdzmaewpoy.jpg">
                </li>
            </ul>
        </div>
    </div>
</section>