<% layout('layouts/boilerplate') %>
<%- include('../partials/flash') %>
<% if (!currentUser) { %>
<div class="watchlist-notification">
    <p>Want to add this to your watchlist? <a href="/login">Login</a> or <a href="/register">sign up</a> to take
        advantage!</p>
</div>
<% } %>
<section class="media-intro">
    <div class="media-look">
        <div class="media-img">
            <img src="https://image.tmdb.org/t/p/w342<%= movie.poster_path %>">
        </div>
        <div class="media-ratings">
            <h3><span class="star">&#9733;</span><%= movie.vote_average %>/10</h3>
        </div>
    </div>
    <div class="media-info">
        <h1 class="media-title"><%= movie.title %> (<%= movie.release_date.slice(0, 4) %>)</h1>
        <p class="media-runtime-rating"><span class="age-rating"><%= ageRating[0].certification %></span> |
            <%= movieRuntime[0] %> Hours
            <%= Math.round(movieRuntime.slice(1, movieRuntime.length) * 60)  %> Minutes</p>

        <p class="media-genres">
            <%= genres.join(', ') %>
        </p>
        <p class="media-summary"><%= movie.overview %></p>
        <div class="media-leads">
            <% for (let director of directors) {%>
            <p>
                Director: <%= director%>
            </p>
            <% } %>
            <p>
                <% if (writers.length > 1) {%>
                Writers:
                <% } else if (writers.length) {%>
                Writer:
                <% } %>
                <%= writers.join(', ')%>
            </p>
        </div>
        <div class="media-buttons-container">
            <% if (currentUser && currentUser.watchlist.includes(`m${movie.id}`)) { %>
            <form action="/user/<%= currentUser.id %>/watchlist?_method=DELETE" method="POST">
                <button name="media" value="m<%= movie.id %>" class="media-btn" id="delete-watchlist">Remove
                    from Watchlist</button>
            </form>
            <% } else if (currentUser) { %>
            <form action="/user/<%= currentUser.id %>/watchlist" method="POST">
                <button name="media" value="m<%= movie.id %>" class="media-btn">Add to Watchlist</button>
            </form>
            <% } %>
            <a class="link-btn" href="#review">Write a Review</a>
        </div>
    </div>
</section>
<section class="media-cast">
    <h2 class="cast-title">The Cast</h2>
    <div class="media-cast-container">
        <% for (let actor of cast) { %>
        <div class="actor-card">
            <img class="actor-img"
                src="<%= actor.profile_path !== null ? `https://image.tmdb.org/t/p/w185${actor.profile_path}`: 'http://res.cloudinary.com/dfuxr1p10/image/upload/c_fill,h_278,w_185/v1630626598/CInemaBuff/placeholder-image-person-jpg_qa9zba.jpg'%>">
            <div class="actor-card-body">
                <h4><%= actor.name %></h4>
                <p><%= actor.character %> </p>
            </div>
        </div>
        <% } %>
    </div>
</section>
<% if (videos.length > 0) { %>
<section class="media-video">
    <div class="media-video-container">
        <h2>Videos</h2>
        <video id="my-player" class="video-js vjs-theme-sea" controls preload="auto" data-setup='{}'>
            <p class="vjs-no-js">
                To view this video please enable JavaScript, and consider upgrading to a
                web browser that
            </p>
        </video>
        <div class="vjs-playlist"></div>
        <span id="vid-data" style="display:none">
            <%= JSON.stringify(videos); %>
        </span>
    </div>
</section>
<% } %>
<section class="media-rec">
    <h2>More Like This</h2>
    <div class="rec-media-container">
        <% for (let title of recommendations) { %>
        <div class="rec-card">
            <a href="/movie/<%= title.id %> ">
                <img class="rec-img" src="<%= `https://image.tmdb.org/t/p/w185${title.poster_path}`%>">
            </a>
            <div class="rec-card-body">
                <h4><a class="linked-title" href="/movie/<%= title.id %> "><%= title.title %></a></h4>
                <p><span class="star">&#9733;</span><%= title.vote_average.toFixed(1) %>/10</p>
            </div>
        </div>
        <% } %>
    </div>
</section>
<a name="review"></a>
<section class="media-reviews">
    <div class="media-review-container">
        <h2>Reviews</h2>
        <% if (currentUser) {%>
        <div class="media-review-form">
            <h3>Write a Review</h3>
            <form class="post-review" method="POST" action="/movies/<%= movie.id %>/reviews">
                <section class="form-group">
                    <fieldset name="rating" id="rating" class="starability-basic">
                        <legend>Rating</legend>
                        <input type="radio" id="no-rate" class="input-no-rate" name="rating" value="0" checked
                            aria-label="No rating." />
                        <input type="radio" id="first-rate1" name="rating" value="1" />
                        <label for="first-rate1">1 star</label>
                        <input type="radio" id="first-rate2" name="rating" value="2" />
                        <label for="first-rate2">2 stars</label>
                        <input type="radio" id="first-rate3" name="rating" value="3" />
                        <label for="first-rate3">3 stars</label>
                        <input type="radio" id="first-rate4" name="rating" value="4" />
                        <label for="first-rate4">4 stars</label>
                        <input type="radio" id="first-rate5" name="rating" value="5" />
                        <label for="first-rate5">5 stars</label>
                        <input type="radio" id="first-rate6" name="rating" value="6" />
                        <label for="first-rate6">6 star</label>
                        <input type="radio" id="first-rate7" name="rating" value="7" />
                        <label for="first-rate7">7 stars</label>
                        <input type="radio" id="first-rate8" name="rating" value="8" />
                        <label for="first-rate8">8 stars</label>
                        <input type="radio" id="first-rate9" name="rating" value="9" />
                        <label for="first-rate9">9 stars</label>
                        <input type="radio" id="first-rate10" name="rating" value="10" />
                        <label for="first-rate10">10 stars</label>
                    </fieldset>
                </section>
                <section class="form-group">
                    <label for="review">Review</label>
                    <br>
                    <textarea name="body" class="review-input" id="review" cols="30" row="4"></textarea>
                </section>
                <button class="review-btn">Submit</button>
            </form>
        </div>
        <% } else {%>
        <div class="media-review-form" id="locked-form">
            <h2>Login to Write A Review</h2>
            <a class="link-btn" id="review-login" href="/login">Login</a>
        </div>
        <% } %>
        <% for ( let review of reviews) {%>
        <div id="reviews-display" class="media-review">
            <h3 class="author"><%= review.author.username %></h3>
            <h4 class="starability-result" data-rating="<%= review.rating %>">
                <%= review.rating %> stars
            </h4>
            <p class="review-body"><%=review.body%></p>
            <% if (currentUser && review.author.equals(currentUser)) { %>
            <form action="/movies/<%= movie.id %>/reviews/<%= review.id %>?_method=DELETE" method="POST">
                <button class="review-btn" id="delete">Delete</button>
            </form>
            <% } %>
        </div>
        <% } %>
    </div>
</section>
<script>
    const videos = JSON.parse(document.getElementById("vid-data").innerText);
    const player = videojs('my-player');
    const myPlaylist = [];
    for (let video of videos) {
        myPlaylist.push({
            name: video.name,
            sources: [{
                src: `https://www.youtube.com/watch?v=${ video.key }`,
                type: 'video/youtube'
            }],
            poster: `https://img.youtube.com/vi/${ video.key }/maxresdefault.jpg`,
            thumbnail: [
                {
                    srcset: `https://img.youtube.com/vi/${ video.key }/maxresdefault.jpg`,
                    type: 'image/jpeg',
                    media: '(min-width: 400px)'
                }
            ]
        });
    }
    player.playlist(myPlaylist)
    player.playlistUi({ horizontal: true });
    videojs(document.querySelector('video')).playlistUi();
</script>